/* .create-new-lesson-process-container {
  display: flex;
  height: 100vh;
}
.create-new-lesson-process-sidebar-container {
  width: 25%;
  background-color: #f7f8fc;
  padding: 24px;
}
.create-new-lesson-process-main-container {
  width: 75%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */
