.line_div {
    display: flex;
    margin: 5px 0 0 0;
  }
  .checkBar {
    margin: 5px 5px 0 0;
  }
  .red {
    background-color: rgb(187, 11, 11);
    width: 15%;
    height: 3px;
  }
  
  .yellow {
    background-color: rgb(248, 248, 34);
    width: 30%;
    height: 3px;
  }
  
  .orange {
    background-color: orange;
    width: 45%;
    height: 3px;
  }
  
  .green {
    background-color: #3cc894;
    width: 60%;
    height: 3px;
  }

@media screen and (min-width:100px) and (max-width:699px)  {
    .change-password-input {
        display: block;
        margin-top: 5vw;
        
    }
    .popup-password-header {
        display: block;
        font-size: 6.8vw;
        line-height: 8.1vw;

        
    }

    .password-details-content {
        padding: 44px 3.7vw;
       
    }
   
    .save-password-popup {
        font-size: 4vw !important;
        line-height: 5.9vw !important;
        padding: 11px 16px;
        width: 100% !important;
        height: 100% !important;
    }

    .select-input-for-mobile {
        font-size: 4vw !important;
        line-height: 5.9vw !important;
        height: -moz-fit-content;
        height: fit-content;
        padding: 11px 16px;
    }
  
}

@media screen and (min-width:700px) and (max-width:1120px)  {
    .change-password-input {
        display: block;
        margin-top: 5vw;
        
    }
    .popup-password-header {
        display: block;
        font-size: 4.8vw;
        line-height: 6.1vw;
 
    }

    .password-details-content {
        padding: 44px 3.7vw;
       
    }
   
    .save-password-popup {
        font-size: 3vw !important;
        line-height: 4.9vw !important;
        padding: 17px 20px;
        width: 100% !important;
        height: 100% !important;
    }

    .select-input-for-mobile {
        font-size: 4vw !important;
        line-height: 5.9vw !important;
        height: -moz-fit-content;
        height: fit-content;
        padding: 11px 16px;
    }
  
}


@media screen and (min-width:1121px) and  (max-width:1340px)  {
  
  .change-password {
    font-size: 1.1vw;
  }
  }