.form_eye_container{
    position: relative;
    width: 20px;
    height: 20px;
}
p.form_eye_tooltip {
    color: #919396;
    position: absolute;
    font-family: "Mardoto", sans-serif;
    font-size: 14px;
    right: 0;
    top: 100%;
    white-space: nowrap;
    background-color: #ffffff;
    padding: 12px 20px;
    border-radius: 10px;
    display: none;
    box-shadow: 0 3px 6px 1px #babbbe;
}

.form_eye_container:hover p.form_eye_tooltip{
    display: unset;
}